apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "signoz-metrics-adapter.fullname" . }}:system:auth-delegator
  labels:
    {{- include "signoz-metrics-adapter.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:auth-delegator
subjects:
  - kind: ServiceAccount
    name: {{ include "signoz-metrics-adapter.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "signoz-metrics-adapter.fullname" . }}-auth-reader
  namespace: kube-system
  labels:
    {{- include "signoz-metrics-adapter.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extension-apiserver-authentication-reader
subjects:
  - kind: ServiceAccount
    name: {{ include "signoz-metrics-adapter.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "signoz-metrics-adapter.fullname" . }}-server-resources
  labels:
    {{- include "signoz-metrics-adapter.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - custom.metrics.k8s.io
    resources: ["*"]
    verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "signoz-metrics-adapter.fullname" . }}-resource-reader
  labels:
    {{- include "signoz-metrics-adapter.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
      - services
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "signoz-metrics-adapter.fullname" . }}-resource-reader
  labels:
    {{- include "signoz-metrics-adapter.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "signoz-metrics-adapter.fullname" . }}-resource-reader
subjects:
  - kind: ServiceAccount
    name: {{ include "signoz-metrics-adapter.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "signoz-metrics-adapter.fullname" . }}-hpa-controller
  labels:
    {{- include "signoz-metrics-adapter.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "signoz-metrics-adapter.fullname" . }}-server-resources
subjects:
  - kind: ServiceAccount
    name: horizontal-pod-autoscaler
    namespace: kube-system
